.list {
  width: 327px;
  height: 264px;
  padding-left: 32px;
  margin-top: 40px;
  gap: 12px;

  & p{
    display: flex;
    align-items: flex-start;
    padding-left: 12px;
  }

  & .checkbox {

    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    border-radius: 6px;

  }

  & .checkbox:hover {
    cursor: pointer;
    border-color: var(--border-hover);
  }
}