.forms {
  display: flex;
  flex-direction: column;

  margin-top: 44px;
  width: 326px;
  height: 104px;


  & #add-item {
  width: 326px;
  height: 44px;
  border-radius: 12px;
  }
}

input {
    font: var(--paragraph);
    color: var(--content-tertiary);
    padding-left: 18px;
    border: 1px solid var(--border-primary);    
  }

  & input:hover{
    border-color: var(--border-secondary);
  }

.btn {
  width: 326px;
  height: 44px;
  border-radius: 12px;
  margin-top: 16px;
  font: var(--label);
  color: white;
  border: none;
  background-color: var(--color-brand);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color-brand-hover);
}

@media (width >= 80em) {
  .forms {
  display: flex;
  flex-direction: row;
  margin-top: 44px;
  width: 627px;
  height: 44px;
  gap: 12px;

  & #add-item {
  width: 451px;
  height: 44px;

  }

  & .btn {
  width: 160px;
  height: 44px;
  border-radius: 12px;
  margin-top: 0;
  font: var(--label);
  color: white;
  border: none;
  background-color: var(--color-brand);

    }
  }
}


