* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --font-inter: 'Inter', sans-serif;
  --title: 700 24px/32px var(--font-inter);
  --label: 600 1rem/1.25rem var(--font-inter);
  --paragraph: 500 1rem/1.25rem var(--font-inter);
  --link: 500 0.875rem/1rem var(--font-inter);

  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;
}

html {
  overflow: hidden;
  background-color: var(--background-primary);
}



.container-1 {
  display: flex;
  flex-direction: column;
  
  align-items: c;
 

  /* border: 1px solid red; */
}

.back {
  display: flex;
  /* padding: 2rem; */
  margin-top: 78px;


}

.link-button {
  display: flex;
  font: var(--link);
  color: var(--color-brand);
  align-items: center;
  width: 57px;
  height: 16px;
  

  & svg {
    width: 57px;
    height: 16px;
    color: var(--color-brand);
  }
  
}

.title {
  width: 325px;
  height: 32px;
  /* padding-left: 320px; */
  /* align-items: flex-start; */
  color: var(--content-primary);
  margin-top: 16px;
  
  & h1 {
    font: var(--title);
  }
}

