body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.container {
  --max-width: 390px;

}

.desktop-only {
  display: none;
}

.even-columns {
  flex-direction: column;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.grid {
  display: grid;
}

@media (width >= 80em) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    width: 627px;
    flex-direction: column;
    padding-left: 0;


   & .container-1 {
      display: flex;
      width: 57px;
      height: 16px;
      
      align-items: flex-start;
   }    
  }

  .desktop-only {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 7px;
  }

  .back{    
    width: 57px;
    height: 16px;
    margin-top: 3.875rem;

  }  
}

